<template>
  <h4>Resutls page</h4>

  <h4 v-if="user[0] != undefined">{{ user[0].username }}</h4>
</template>

<script setup>
import { computed } from "@vue/runtime-core";
import { useStore } from "vuex";

const store = useStore();

const user = computed(() => store.state.user);
</script>

<style></style>
