<template>
  <h1>Start Page</h1>
  <img
    src="https://i.pinimg.com/originals/a5/8b/58/a58b588b854b378075e49526c4166730.jpg"
    alt="meme"
  />
  <input
    type="checkbox"
    id="programming"
    value="programming"
    v-model="categories"
  />
  <label for="programming">programming</label>
  <input type="checkbox" id="misc" value="miscellaneous" v-model="categories" />
  <label for="misc">misc</label>
  <input type="checkbox" id="dark" value="dark" v-model="categories" />
  <label for="dark">dark</label>
  <input type="checkbox" id="pun" value="pun" v-model="categories" />
  <label for="pun">pun</label>
  <input type="checkbox" id="spooky" value="spooky" v-model="categories" />
  <label for="spooky">spooky</label>

  <input type="text" placeholder="Enter your name" v-model="name" />
  <button @click.prevent="begin">Lets go</button>
</template>

<script setup>
import { ref, reactive } from "@vue/reactivity";
import { useRouter } from "vue-router";
import { useStore } from "vuex";

const router = useRouter();
const store = useStore();
const categories = ref(["programming"]);
const name = ref("");

async function begin() {
 
store.dispatch('attemptLogin',name.value)
store.commit("setJokeURL", getJokeUrl());


  router.push("/jokes");
}

function getJokeUrl() {
  const jokeURL = `https://v2.jokeapi.dev/joke`;

  if (categories.value.length === 0) {
    return `${jokeURL}/Any?type=twopart`;
  } else {
    const catString = categories.value.map((cat) => `${cat}`);
    let tempURL = `${jokeURL}/${catString}`.slice(0);

    return `${tempURL}?type=twopart`;
  }
}
</script>

<style></style>
