<template>
  <h4>{{ jokeProp.setup }}</h4>
  <h4 v-if="deliver">{{ jokeProp.delivery }}</h4>
  <button @click="next">Lame 😑</button>
</template>

<script setup>
import { ref } from "@vue/reactivity";
import {
  onBeforeUpdate,
  onMounted,
  onUnmounted,
  onUpdated,
} from "@vue/runtime-core";

const props = defineProps({ jokeProp: Object });
const deliver = ref(false);
const emit = defineEmits(["next"]);

onMounted(() => {
  let relativeSetupTime = props.jokeProp.setup.length * 80;

  setTimeout(() => {
    deliver.value = true;
  }, relativeSetupTime);
});

onUpdated(() => {
  let relativeSetupTime = props.jokeProp.setup.length * 80;

  setTimeout(() => {
    deliver.value = true;
  }, relativeSetupTime);
});

function next() {
  deliver.value = false;
  emit("next");
}
</script>

<style></style>
