<template>
  <Joke
    :jokeProp="currentJoke.value"
    v-if="currentJoke.value"
    @next="nextJoke"
  />
  <h4>{{score}}</h4>
  <button @click="goToResults">ROFL 🤣</button>
  <h4 v-if="user[0]!=undefined">{{user[0].username}}</h4>
</template>

<script setup>
import { reactive,ref } from "@vue/reactivity";
import { computed, onBeforeMount } from "@vue/runtime-core";
import Joke from "./Joke.vue";
import { useRouter } from "vue-router";
import {useStore} from 'vuex'

const currentJoke = reactive({});
const store = useStore();
const router = useRouter();
const score = ref(0)
const jokeURL = computed(()=> store.state.jokeURL)
const user = computed(()=> store.state.user)

onBeforeMount(() => {
  fetch(jokeURL.value)
    .then((response) => response.json())
    .then((result) => (currentJoke.value = result));
});
function nextJoke() {
  score.value+=10;
  fetch(jokeURL.value)
    .then((response) => response.json())
    .then((result) => (currentJoke.value = result));
}

function goToResults() {
  router.push("/results");
}
</script>

<style></style>
